<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <span class="brand-icon">
            <TablerIcon OutlineIcon="TablerIconOutlineName.File" Size="32px" StrokeWidth="1.5f" />
        </span>
        <span class="brand-text">File Collector</span>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" title="Home">
                <TablerIcon OutlineIcon="TablerIconOutlineName.Home" Size="24px" StrokeWidth="1.5f" />
                <span class="nav-text">Home</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings" title="Settings">
                <TablerIcon OutlineIcon="TablerIconOutlineName.Settings" Size="24px" StrokeWidth="1.5f" />
                <span class="nav-text">Settings</span>
            </NavLink>
        </li>
    </ul>
</div>


@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}